h1{
  justify-content: center;
  color: white;
  font: geneva;
  border: hidden;
  border-radius: 20%;
  /* margin-left: 625px;
  margin-right: 625px; */
  font-family: 'Gochi Hand', cursive;
  text-decoration: underline overline;
  font-size: 100px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
/* .imggroup1{
  display: inline;
  padding: 3px;
  justify-content: center;
}*/

h5{
  font-family: 'PT Sans', sans-serif;
}

.landscape{
  height: 400px;
  width: 475px;
  /* padding-left: 20px;
  padding-right: 20px; */
  border-radius: 10%;
margin-left: 30px;
margin-right: 30px;
}

.vertical{
  height: 400px;
  width: 300px;
  /* padding-left: 20px;
  padding-right: 20px; */
  border-radius: 10%;
  margin-left: 30px;
  margin-right: 30px;
}

#flowers{
  justify-content: center;
  height: 100px;
  width: 230px;
  border: hidden;
}

#flowers1{
  justify-content: center;
  height: 100px;
  width: 230px;
  border: hidden;
}

img{
  /* height: 400px; */
  /* width: 355px; */
  /* padding-left: 10px;
  padding-right: 10px; */
  /* margin-left: 0px;
  margin-right: 0px; */
  filter: saturate(120%);
  filter: brightness(110%);
  filter: opacity(100%);
  border: 2px solid white;
  object-fit: cover;
  justify-content: space-between;
}

body{
  text-align: center;
  background-color: skyblue;
font-family: 'Source Sans Pro', sans-serif;
font-size: medium;
}

@media screen and (max-width: 500px) { body{
  background: #deadbf;
  font-size: 10px;
  font: geneva;
  color: white;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  }

  @media screen and (max-width: 500px) { h1{
font-size: 60px;
  }

i{
  text-shadow: 2px 2px #ff0000
}



/* .container { */
  display: center;
  align-items: flex-start;
  justify-content: space-around;
}
